{% extends "todo\base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %} 
    <h1>Completed Todos</h1>
    
    <ul>
        {% for todo in todos %}
        <a href="{% url "viewtodo" todo.id %}">
        <li>{% if todo.important %}<b>{% endif %}{{todo.title}}{% if todo.important %}</b>{% endif %}
            {% if todo.memo %} - {{ todo.memo }}{% endif %}
            {{ todo.datecompleted|date:"M j Y H:i" }}
        </li>
        </a>
        
        {% endfor %}
    </ul>
    
    {% endblock content %}
</body>
</html>